.jumbotron{
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#EEF8DA;
    width: 70%;
    padding: 50px;
    border: 2px dashed;
    border-color:#99CE28;
}

.btn{
    margin-top: 20px;
    background-color: #99CE28;
    border: none;
}